<div class="container">
  <nav class="navigation box">
    <div class="logo">
      <img src="assets/images.png/ve.png" alt="" [style.width]="'300px'" />
    </div>
    <ul class="nav_links">
      <li class="nav_link"><a href="#"></a>Reviews</li>
      <li class="nav_link"><a href="#"></a>About</li>
      <li class="nav_link"><a href="#"></a>Blog</li>
      <li class="nav_link"><a href="#"></a>Job Offers</li>
      <button class="nav_link_button">
        <a routerLink="/forms">Create Cv</a>
      </button>
    </ul>
  </nav>
  <div class="top_view">
    <div class="top_view_left">
      <div class="title box">
        <h1 class="title_text">Create your own<br />dream cv</h1>
      </div>
      <div class="about box">
        <h2 class="about_title">ABOUT</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo
          cupiditate libero quia, omnis quibusdam quae voluptate necessitatibus
          earum, dolores eveniet deserunt voluptates officiis nobis odio
          voluptas vero saepe et voluptatibus!
        </p>
      </div>
    </div>

    <div class="image">
      <img
        class="cv_img"
        src="assets/images.png/hr.png"
        alt="zdjęcie reklamowe cv"
      />
    </div>
  </div>
  <div class="down_view">
    <div class="why_us box">
      <div class="why_us_title">
        <h2>PROBABLY THE BEST CV MAKER EVER</h2>
      </div>
      <div class="reasons box">
        <ul class="reasons_list">
          <li class="reason">✔ Fully customisable</li>
          <li class="reason">✔ Modern looking</li>
          <li class="reason">✔ For free</li>
          <li class="reason">✔ Easy to use</li>
          <li class="reason">✔ Fast</li>
          <li class="reason">✔ Interactive</li>
        </ul>
      </div>
    </div>
    <div class="reviews box">
      <img
        class="review_person_img"
        src="assets/images.png/pr2.png"
        alt="zdjęcie osoby recenzującej"
      />
      <p class="review_body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At illum
        consectetur obcaecati placeat excepturi, praesentium, laudantium
        veritatis voluptates nam expedita ullam distinctio.
      </p>
    </div>
  </div>
  <h2 class="start_carrer">YOUR CAREER STARTS HERE</h2>
  <div class="start_your_carrer">
    <div class="carrer_box">
      <div class="img_arrow">
        <img
          class="start_carrer_img"
          src="assets/images.png/fill2.png"
          alt=""
        />
        <div class="arrow"><span></span><span></span><span></span></div>
      </div>
      <span class="number">1</span>
      <p class="start_carrer_title">Fill the empty fields</p>
    </div>

    <div class="carrer_box">
      <div class="img_arrow">
        <img
          class="start_carrer_img"
          src="assets/images.png/custom2.png"
          alt=""
        />
        <div class="arrow"><span></span><span></span><span></span></div>
      </div>
      <span class="number">2</span>
      <p class="start_carrer_title">customize it</p>
    </div>

    <div class="carrer_box">
      <div class="img_arrow">
        <img
          class="start_carrer_img"
          src="assets/images.png/send2.png"
          alt=""
        />
        <div class="arrow"><span></span><span></span><span></span></div>
      </div>
      <span class="number">3</span>
      <p class="start_carrer_title">download your cv as a pdf</p>
    </div>

    <div class="carrer_box">
      <div class="img_arrow">
        <img class="start_carrer_img" src="assets/images.png/job2.png" alt="" />
      </div>
      <span class="number">4</span>

      <p class="start_carrer_title">land your dream job</p>
    </div>
  </div>
</div>
<footer [style.backgroundColor]="' #333'" [style.color]="'white'">
  <p>Copyright © 2024 All Right Reserved.</p>
  <a [style.color]="'white'" href="”polityka-prywatnosci.html”"
    >Polityka prywatności</a
  >
  <a [style.color]="'white'" href="”kontakt.html”">Kontakt</a>
</footer>
